body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.wrapper {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 #b0bbc4;
          box-shadow: 0 0 15px 0 #b0bbc4;
}

.main-navigation {
  position: relative;

  line-height: 26px;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  margin-left: -69px;
}

.site-navigation,
.features,
.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 6%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;}

.site-navigation li {
  width: 22.8%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  opacity: 0.3;
}

.intro {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 508px;
  padding-top: 75px;
  padding-bottom: 78px;

  background-color: #414447;
  background-image: url("../img/shape.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center 28%;
}

.intro img {
  display: block;
  margin: 0 auto;
}

.lead-block {
  padding-top: 56px;
  padding-bottom: 52px;

  text-align: center;
}

.lead-block b {
  display: block;
  width: 500px;
  margin: 0 auto 27px auto;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.lead-block p {
  margin-bottom: 0;

  line-height: 26px;
}

.reason-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #81b3d2;
}

.reason-special-text {
  text-align: center;
}

.reason {
  width: 33.3%;
  padding-top: 30px;
  padding-bottom: 60px;

  text-align: center;
}

.reason h2 {
  width: 40%;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
}

.reason-number {
  margin-bottom: 22px;
}

.explanation {
  width: 305px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.other-reasons .explanation {
  width: 280px;
}

.reason-special-image-1 {
  width: 66.7%;

  background-image: url("../img/photo-1.jpg");
  background-position: center;
  background-size: cover;
}

.reason-special-image-2 {
  -ms-flex-order: -1;
  order: -1;
  width: 66.7%;

  background-image: url("../img/photo-2.jpg");
  background-position: center;
  background-size: cover;

  -webkit-box-ordinal-group: 0;
}

.reason h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reason-special h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reason-special p {
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-item {
  width: 33.3%;
  padding-top: 57px;
  padding-bottom: 83px;

  text-align: center;
}

.feature-item h2 {
  position: relative;

  margin-bottom: 25px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item::before {
  content: "";

  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-bottom: 28px;

  background-repeat: no-repeat;
  background-position: center;
}

.feature-item:nth-child(1)::before {
  background-image: url("../img/icon-accomodation.svg");
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/icon-food.svg");
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/icon-souvenirs.svg");
}

.feature-item p {
  line-height: 21px;
}

.other-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #eeeeee;
}

.search-hotel {
  position: relative;

  padding-top: 50px;

  text-align: center;
}

.search-hotel > span {
  display: block;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel > p {
  margin-bottom: 46px;

  line-height: 24px;
}

.button-search {
  width: 568px;
  height: 86px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-hotel form {
  position: absolute;
  left: 50%;
  z-index: 10;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  padding: 55px;

  text-align: center;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
          box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);

  -ms-flex-wrap: wrap;
}

.search-hotel-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;

  -webkit-box-align: baseline;
  -webkit-box-pack: justify;
  -ms-flex-align: baseline;
  -ms-flex-pack: justify;
}

.search-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.search-hotel input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.date {
  margin-bottom: 30px;
}

.date input {
  width: 346px;
  height: 38px;
  padding-right: 40px;
  padding-left: 12px;

  border: none;
  border: 2px solid #f2f2f2;
}

.date input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.date div {
  position: relative;
}

.date button {
  position: absolute;
  top: 6px;
  right: 6px;

  background-color: transparent;
  border: none;
}

.button-calendar:hover path {
  fill: #000000;
}

.button-calendar:active path {
  fill: #81b3d2;
}

.numbers-wrapper {
  width: 100%;
  margin-bottom: 54px;
}

.numbers-wrapper,
.number-adults,
.number-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 458px;
}

.number-adults,
.number-children {
  width: 50%;
}

.children-label {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: 20px;
}

.adults-label {
  width: 49%;

  text-align: left;
}

.adults-button,
.children-button {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.children-button {
  width: 114px;
}

.adults-number-input,
.children-number-input {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.adults-number-input,
.children-number-input,
.adults-number-minus,
.adults-number-plus,
.children-number-minus,
.children-number-plus {
  width: 38px;
  height: 38px;

  text-align: center;
}

.children-number-plus,
.children-number-minus,
.adults-number-plus,
.adults-number-minus {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #818181;
  width: 38px;

  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.adults-svg-minus,
.adults-svg-plus,
.children-svg-minus,
.children-svg-plus {
  margin: auto;
  vertical-align: middle;

  fill: #818181;
}

.search-hotel input:hover,
.adults-number-minus:hover,
.adults-number-plus:hover,
.children-number-minus:hover,
.children-number-plus:hover {
  background-color: #ebebeb;
}

.adults-number-minus:hover svg,
.adults-number-plus:hover svg,
.children-number-minus:hover svg,
.children-number-plus:hover svg {
  fill: black;
}

.adults-number-minus:active svg,
.adults-number-plus:active svg,
.children-number-minus:active svg,
.children-number-plus:active svg {
  fill: #81b3d2;
}

.search-hotel input:hover {
  border: 2px solid #ebebeb;
}

.search-hotel input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button {
  width: 100%;
  height: 58px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 597px;
  background-color: #cedfaf;
}

.map img {
  display: block;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 35px 0;

  background-color: rgba(255, 255, 255, 0.9);

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-footer.footer-index {
  position: absolute;
  bottom: 0;

  width: 100%;
}

.main-footer .footer-hashtag {
  width: 33.3%;
  margin-top: 10px;
  align-self: center;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.main-footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  width: 33.3%;

  text-align: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.main-footer .btn-social:hover {
  background-color: #669ec0;
}

.main-footer .btn-social:active {
  background-color: #5496bd;
}

.main-footer .btn-social {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  height: 48px;
  margin-right: 5px;
  margin-bottom: 5px;

  text-align: center;

  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
} 

/* .main-footer .link-fb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 46px;
  height: 48px;
  margin-right: 5px;

  text-align: center;

  background-color: #81b3d2;
} */

.main-footer .social-svg {
  margin: auto;

  fill: #ffffff;
}

.btn-social:active .social-svg {
  opacity: 0.3;
}

.main-footer .footer-copyright {
  margin-top: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;

  line-height: 26px;
  color: #000000;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.footer-copyright span {
  margin-top: -2px;
}

.main-footer .footer-designed {
  padding-top: 4px;
}

.main-footer .developer-svg {
  width: 115px;
  height: 41px;
  margin-left: 7px;

  fill: #000000;
}

.main-footer .developer-svg:hover {
  fill: #81b3d2;
}
.main-footer .developer-svg:active {
  fill: #bdbbbc;
}

.main-header .site-navigation-current {
  color: #766357;
}

.sorting-option,
.sorting-direction,
.hotels {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter {
  padding: 27px 6% 8px 6%;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #4f5c67;
  background-image: url("../img/filter-background.jpg");
  background-size: cover;
}

.filter .filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter fieldset:nth-child(1) {
  margin-right: 118px;
}

.filter fieldset:nth-child(2) {
  margin-right: auto;
}

.filter h3 {
  margin-top: 0;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter-fieldset p {
  margin-top: 0;
  margin-bottom: 25px;
}

.filter-fieldset label {
  position: relative;

  display: block;
  padding-left: 40px;

  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox:focus + label {
  outline: 3px auto rgb(27, 57, 105);
}

.checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:checked + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:disabled + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox[checked]:disabled + label::before {
  content: "";
  position: absolute;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter .button-filter {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
}

.filter .button-filter:hover {
  color: #000000;

  background-color: #ffffff;
}

.filter-range {
  width: 319px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  padding-top: 5px;

  font-size: 14px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  height: 31px;
  padding-left: 62px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 95px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.searching-results b {
  margin-right: 49px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: baseline;
  padding: 31px 6%;
  padding-top: 29px;

  border-bottom: 1px solid #e5e5e5;

  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;

  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting span {
  margin-right: 39px;
}

.sorting .sorting-option {
  margin-top: -2px;
  margin-right: auto;
}

.sorting .sort-descending {
  padding-right: 0;
}

.sorting .button-sorting {
  margin-right: 33px;
  padding: 0;

  font: inherit;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting .button-sorting:hover {
  color: #81b3d2;
}

.sorting .button-sorting:active {
  color: #000000;

  border: none;
}

.sorting .current-sorting {
  color: #81b3d2;

  border: none;
}

.sorting .current-sorting:hover {
  color: #81b3d2;

  border: none;
}

.sorting .current-sorting:active {
  color: #81b3d2;

  border: none;
}

.current-direction path {
  fill: #81b3d2;
}

.sort-ascending svg:hover path {
  fill: #231f20;
}

.sort-ascending svg:active path {
  fill: #81b3d2;
}

.sorting-direction button {
  background-color: transparent;
  border: none;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 6%;

  border-bottom: 1px solid #e5e5e5;
}

.hotel .hotel-image {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel .hotel-center {
  margin-right: auto;
  width: 670px;
}

.hotel h3 {
  margin-top: -6px;
  margin-bottom: -7px;
}

.hotel .hotel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.hotel-text p {
  margin-bottom: 0;
}

.hotel .hotel-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel .accomodation-sort,
.hotel .about-button {
  min-width: 110px;
  margin-right: 6px;
}

.hotel .about-button,
.hotel .reservation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.hotel .hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel .hotel-name:hover {
  color: #81b3d2;
}

.hotel .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel .about-button {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.hotel .about-button:hover {
  background-color: #669ec0;
}

.hotel .about-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel .reservation-button {
  width: 142px;

  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.hotel .reservation-button:hover {
  background-color: #604e43;
}

.hotel .reservation-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel .hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: end;
  -ms-flex-pack: justify;
}

.stars img {
  display: inline-block;
  vertical-align: top;
}

.stars {
  margin-top: -1px;
}

.hotel .icon-star {
  margin-left: 2px;
}

.hotel .text-rating {
  padding: 3px 13px 4px 15px;

  color: #666666;

  background-color: #f2f2f2;
}