body {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;

  width: 1200px;
}

.main-navigation {
  position: relative;

  line-height: 26px;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  margin-left: -69px;
}

.site-navigation,
.features,
.footer-social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation {
  display: flex;
  padding: 15px 6%;
}

.site-navigation li {
  width: 22.8%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}


.site-navigation a {
  font-weight: bold;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  opacity: 0.3;
}

.intro {
  height: 508 px;
}

.lead-block {
  padding-top: 55px;
  padding-bottom: 52px;

  text-align: center;
}

.lead-block b {
  display: block;
  width: 500px;
  margin: 0 auto 27px auto;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.lead-block p {
  margin-bottom: 0;

  line-height: 26px;
}

.reason-special {
  display: flex;

  background-color: #81b3d2;
}

.reason-special-text {
  text-align: center;
}

.reason {
  width: 33.3%;
  padding-top: 32px;
  padding-bottom: 60px;

  text-align: center;
}

.reason h2 {
  width: 40%;
  margin-right: auto;
  margin-bottom: 23px;
  margin-left: auto;
}

.reason-number {
  margin-bottom: 21px;
}

.explanation {
  width: 305px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.other-reasons .explanation {
  width: 280px;
}

.reason-special-image-1 {
  width: 66.7%;

  background-image: url(../img/photo-1.jpg);
  background-position: center;
  background-size: cover;
}

.reason-special-image-2 {
  order: -1;
  width: 66.7%;

  background-image: url(../img/photo-2.jpg);
  background-position: center;
  background-size: cover;
}

.reason h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.reason-special h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reason-special p {
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
}

.features {
  display: flex;
}

.feature-item {
  width: 33.3%;
  padding-bottom: 85px;

  text-align: center;
}

.feature-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.feature-item p {
  line-height: 21px;
}

.other-reasons {
  display: flex;

  background-color: #eeeeee;
}

.search-hotel {
  position: relative;

  padding-top: 50px;

  text-align: center;
}

.search-hotel span {
  display: block;
  margin-bottom: 25px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-hotel p {
  margin-bottom: 46px;

  line-height: 24px;
}

.button-search {
  width: 568px;
  height: 86px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-hotel-form {
  position: absolute;
  left: 50%;
  z-index: 10;

  width: 568px;

  text-align: center;

  background-color: #ffffff;
  transform: translateX(-50%);
}

.search-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.search-hotel input {
  font: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.search-hotel input:hover {
  background-color: #ebebeb;
}

.search-hotel input:focus {
  background-color: #ffffff;
  border: none;
  border: 2px solid #e5e5e5;
}

.button {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  height: 593px;
}

.map img {
  display: block;
}

.main-footer {
  display: flex;
  padding: 35px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer.footer-index {
  position: absolute;
  bottom: 0;

  width: 100%;
}

.main-footer .footer-hashtag {
  width: 33%;
  margin: 0;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.main-footer .footer-social {
  width: 33%;

  text-align: center;
}

.main-footer .footer-copyright {
  width: 33%;

  line-height: 26px;
  text-align: center;
  color: #000000;
}

/* Стили для inner.html */

.main-header .site-navigation-current {
  color: #766357;
}

.sorting-option,
.sorting-direction,
.hotels {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter {
  margin-bottom: 30px;
  padding: 30px 70px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  background-color: #4f5c67;
  background-image: url(../img/filter-background.jpg);
  background-size: cover;
}

.filter .filter-form {
  display: flex;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.filter .button-filter {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
}

.filter .button-filter:hover {
  color: #000000;

  background-color: #ffffff;
}

.searching-results {
  margin-bottom: 35px;
}

.searching-results b {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sorting-block {
  padding: 30px 6%;
}

.sorting {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting .button-sorting {
  font: inherit;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

.sorting .button-sorting:hover {
  color: #81b3d2;
}

.sorting .button-sorting:active {
  color: #000000;
}

.sorting .current-sorting {
  color: #81b3d2;
}

.hotel {
  padding: 30px 6%;
}

.hotel .hotel-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel .hotel-name:hover {
  color: #81b3d2;
}

.hotel .hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel .about-button {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.hotel .about-button:hover {
  background-color: #669ec0;
}

.hotel .about-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel .reservation-button {
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

  background-color: #766357;
  border: none;
}

.hotel .reservation-button:hover {
  background-color: #604e43;
}

.hotel .reservation-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel .text-rating {
  color: #666666;

  background-color: #f2f2f2;
}
